body {
  font-family: "Poppins", serif;
  background-color: #f5f5f5;
  margin: 0;
  box-sizing: border-box;
  color: #2e2e2e;
}
h1,
h3 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 345px;
  height: 100vh;
  padding-top: 56px;
  gap: 56px;
  background-color: #ffffff;
}
nav > ul > li {
  width: 252px;
  height: 72px;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  color: #a098ae;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
}
nav > ul > li > a:hover {
  color: #ffffff;
  background-color: #f8b602;
}
nav > #upgrade {
  width: 219px;
  height: 170px;
  padding: 33px 0 0 32px;
  background-image: url("asset/bg-upgrade.png");
  background-repeat: no-repeat;
}

aside {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 375px;
  padding: 56px 40px;
  background-color: #ffffff;
}
aside h3 {
  font-size: 24px;
  font-weight: 700;
}
aside > #balance > div {
  width: 375px;
  height: 165px;
  background-image: url("asset/bg-balance.png");
  background-repeat: no-repeat;

  display: flex;
  gap: 16px;
}
aside > #address > h3 {
  color: #a098ae;
  font-size: 18px;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;

  font-family: "Poppins", serif;
  color: #2e2e2e;
  padding: 10px 22px;
}

.white {
  color: #ffffff;
}
.yellow {
  color: #f8b602;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fs18 {
  font-size: 18px;
}
.fs40 {
  font-size: 40px;
}

.mt16 {
  margin-top: 16px;
}
