body {
  font-family: "Poppins", serif;
  background-color: #f5f5f5;
  margin: 0;
  color: #2e2e2e;
  font-size: 14px;
  display: flex;
}
div,
aside {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  margin: 0;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 345px;
  padding: 56px 47px 0;
  gap: 56px;
  background-color: #ffffff;
}
nav > ul > li {
  width: 252px;
  height: 72px;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  color: #a098ae;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
}
nav > ul > li > a:hover {
  color: #ffffff;
  background-color: #f8b602;
}
nav > #upgrade {
  width: 252px;
  height: 202px;
  padding: 33px 0 0 32px;
  background-image: url("../asset/bg-upgrade.png");
  background-repeat: no-repeat;
}
nav > #upgrade > button {
  padding: 10px 22px;
}

main {
  flex-grow: 1;
  padding: 56px 40px 40px;
}
main #search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 18px 28px;
  gap: 8px;
  width: 50%;
}
main #search input {
  font-family: "Poppins", serif;
  appearance: none;
  border: none;
  margin: 0;
  flex-grow: 1;
}
main #search input:active,
main #search input:focus {
  appearance: none;
  border: none;
  outline: none;
}
main > #banner {
  display: flex;
  align-items: center;
  background-image: url("../asset/bg-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  overflow: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 455px;
  padding: 56px 40px;
  background-color: #ffffff;
  gap: 32px;
}
aside > #menu > .icons {
  display: flex;
}
aside > #menu > .icons > button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 10px;
}
aside > #menu > .icons .active {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #f8b602;
}
aside > #menu .picture {
  width: 60px;
  height: 60px;
  background-color: #a098ae;
}
aside > #balance > div {
  width: 375px;
  height: 165px;
  background-image: url("../asset/bg-balance.png");
  background-repeat: no-repeat;

  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
}
aside > #address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
aside > #orderMenu > ul {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 80px;
}
aside > #orderMenu > ul > li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}
aside > #orderMenu > ul > li > img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

button {
  border-radius: 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;

  font-family: "Poppins", serif;
  color: #2e2e2e;
}
button.yellow {
  background-color: #f8b602;
  color: #ffffff;
}
button.border {
  border-width: 1px;
  border-style: solid;
  border-color: #a098ae;
  background-color: transparent;
  padding: 6px 20px 5px;
}
button.border:hover {
  background-color: #a098ae;
  color: #ffffff;
}
button.border.yellow {
  color: #f8b602;
  border-color: #f8b602;
}
button.border.yellow:hover {
  background-color: #f8b602;
  color: #ffffff;
}
button.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-width: 1px;
  border-style: solid;
  border-color: #f8b602;
  gap: 24px;
}

.box {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}
.icon-box {
  background-color: #f8b602;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.wh56 {
  width: 56px;
  height: 56px;
}
.w95 {
  width: 95px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.off {
  position: absolute;
  top: 28px;
  left: 0;
  background-color: #eb5757;
  color: #ffffff;
  padding: 3px 17px;
  border-radius: 0 8px 8px 0;
  text-align: center;
  font-size: 18px;
}

.love {
  position: absolute;
  top: 32px;
  right: 32px;
  color: #dbdbdb;
  padding: 0;
  background-color: transparent;
}
.love.active {
  color: #eb5757;
}